:root {
    --pink-filler: #e9204f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    height: auto;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

@font-face {
    font-family: AvantGardeBold;
    src: url("../fonts/AvantGardeBold.woff2");
}

h2 {
    font-family: AvantGardeBold, sans-serif;
    font-style: normal;
}

p {
    font-family: roboto, sans-serif;
}

.site-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-dark-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: black;
    flex-direction: column;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-block {
    display: flex;
    width: 1140px;
    justify-content: space-between;
    height: 150px;
    background: black;
}

.brand-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-name-container > a > h2 {
    font-size: 36px;
    color: white;
}

.navigation-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navigation-item::after {
    content: "";
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: width 0.3s ease;
}

.navigation-active:after {
    width: 40%;
    background: var(--pink-filler);
}

.navigation-hover:hover::after {
    width: 40%;
    background: var(--pink-filler);

}

.navigation-item > a {
    color: white;
    font-size: 16px;
    font-family: AvantGardeBold, sans-serif;
}

.navigation-item > img {
    filter: invert();
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.6s ease, rotate 0.3s ease;
}

.navigation-item > img:hover {
    transform: scale(1.2) rotate(360deg);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main-background-container {
    display: flex;
    width: 1200px;
    background-image: url("../images/man-beard-background.jpg");
    background-position: 90% 0;
    background-color: #000000;
    background-size: 640px auto;
    background-repeat: no-repeat;
    height: 950px;
    position: relative;
}

.background-title {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 60px;
    margin-top: 150px;
    position: relative;
}

.background-title > h2 {
    color: white;
    font-size: 78px;
    width: 840px;
    line-height: 70px;
}

.background-title::after {
    content: "";
    width: 70px;
    height: 3px;
    background: var(--pink-filler);
    top: -55px;
    left: 0;
    position: absolute;
}

.start-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 60px;
    border: 2px solid var(--pink-filler);
    position: relative;
    cursor: pointer;
}

.start-wrapper > p {
    font-size: 16px;
    color: white;
    z-index: 22;
}

.start-button-filler {
    position: absolute;
    width: 0;
    height: 100%;
    background: var(--pink-filler);
    transition: width 0.4s ease-in-out;
    top: 0;
    left: 0;
}

.start-wrapper:hover .start-button-filler {
    width: 100%;
}

.background-bottom-container {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: 0;
    left: 0;


}

.background-bottom-item {
    display: flex;
    width: 380px;
    height: 385px;
    background: #1b1b1b;
    align-items: start;
    padding: 60px 40px;
    color: white;
    flex-direction: column;
    cursor: pointer;
    position: relative;

}

.bottom-item-active {
    background: var(--pink-filler);
}

.background-icon-block {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 80px;
}

.background-icon-block > i {
    font-size: 48px;
}

.bordered-icon-block > i {
    font-size: 32px;
}

.bordered-icon-block {
    border: 2px solid white;
}

.background-bottom-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.background-bottom-title > h2 {
    font-size: 24px;
    line-height: 0;
}

.background-bottom-title > span {
    height: 2px;
    background: white;
    width: 40px;
}

.background-bottom-title > p {
    font-size: 17px;
    font-family: sans-serif;
    text-align: start;
}

.pink-icons-block > i {
    color: var(--pink-filler);
    transition: color 0.3s ease;
}

.bottom-item-hover {
    transition: background-color 0.3s ease;
    z-index: 22;
}

.bottom-item-hover:hover {
    background: var(--pink-filler);
}

.bottom-item-hover:hover .pink-icons-block > i {
    color: white;
}

.red-line {
    position: absolute;
    width: 2px;
    left: 50%;
    bottom: -30px;
    height: 30px;
    background-color: var(--pink-filler);
    transform: translateX(-50%);
}

.red-block-decoration {
    display: flex;
    align-items: start;
    width: 400px;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: -20px;
    background-color: var(--pink-filler);
    transition: background-color 0.3s ease;
}

.bottom-item-hover:hover .red-block-fill {
    background-color: var(--pink-filler);

}

.bottom-item-hover:hover .red-block-decoration {
    background-color: #ad2a49;
}

.red-block-fill {
    width: 380px;
    height: 50px;
    background: #1b1b1b;
    transition: background-color 0.3s ease;
}

.gray-background {
    display: flex;
    width: 100%;
    background-color: rgba(12, 12, 13, 0.99);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-wrapper {
    display: flex;
    width: 1230px;
    height: auto;
    padding: 150px 0 50px 0;
    flex-direction: column;
}

.services-title {
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: relative;
}

.services-title > h2 {
    font-size: 48px;
    color: white;
    font-family: AvantGardeBold, sans-serif;
}

.services-title > p {
    font-size: 18px;
    color: var(--pink-filler);
    font-family: roboto, sans-serif;
}

.services-title::after {
    content: "";
    height: 2px;
    width: 40px;
    background: var(--pink-filler);
    top: -20px;
    left: 0;
    position: absolute;
}

.services-options-container {
    display: flex;
    width: 100%;
    padding: 50px 0 150px 0;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
}

.services-options-container::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 60px;
    background-color: var(--pink-filler);
    bottom: -30px;
    left: 50%;
    transform: translateX(50%);
}

.services-option-item {
    display: flex;
    width: 380px;
    height: 105px;
    background: #191919;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    overflow: hidden;
    position: relative;
}

.services-option-item > i {
    color: rgba(116, 116, 116, 0.6);
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 30%;
    opacity: 0;
    transition: 0.3s ease;
}

.services-option-item > h2 {
    font-size: 19px;
    color: white;
    font-family: AvantGardeBold, sans-serif;
    transition: transform 0.3s ease;
}

.arrow-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.arrow-block > i {
    color: #747474;
    font-size: 25px;
}

.services-option-item:hover > h2 {
    transform: translateX(40px);
}

.services-option-item:hover {
    background-color: var(--pink-filler);
}

.services-option-item:hover > .arrow-block {
    transform: translateX(10px);
}

.services-option-item:hover > .arrow-block > i {
    color: white
}

.services-option-item:hover > i {
    transform: scale(1.4);
    opacity: 1;
}

.works-container-wrapper {
    display: flex;
    width: 100%;
    padding: 0 0 200px 0;
    flex-direction: column;
    align-items: center;
}

.works-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.works-title-block {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 570px;
    flex-direction: column;
    padding: 150px 0 0 0;
}

.works-title-block > span {
    width: 40px;
    height: 2px;
    background-color: var(--pink-filler);
}

.works-title-block > h2 {
    color: white;
    font-family: AvantGardeBold, sans-serif;
    font-size: 48px;
}

.works-title-block > p {
    color: var(--pink-filler);
    font-family: roboto, sans-serif;
    font-size: 18px;
}

.works-title-block > a {
    display: flex;
    align-self: end;
}

.view-all-button {
    display: flex;
    width: 132px;
    height: 58px;
    color: white;
    border: 2px solid var(--pink-filler);
    align-items: center;
    justify-content: center;
    font-family: roboto, sans-serif;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.view-all-button > p {
    z-index: 2222;
}

.view-all-filler {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--pink-filler);
    width: 0;
    height: 100%;
    transition: width 0.4s ease;
}

.view-all-button:hover .view-all-filler {
    width: 100%;
}

.works-images-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.works-images-navigation {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-circle {
    cursor: pointer;
    border: 1px solid #747474;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    transition: 0.3s;
}

.circle-active {
    background: var(--pink-filler);
    border: 1px solid var(--pink-filler);
}

.navigation-circle:hover {
    background: var(--pink-filler);
    border: 1px solid var(--pink-filler);

}

.works-scale-container {
    display: flex;
    width: 620px;
    height: 600px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;

}

.works-images-item {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease;
    filter: grayscale(100%);

}

.works-scale-container:nth-child(2) .works-images-item {
    background-image: url("../images/works-img-1.jpg");
}

.works-scale-container:nth-child(3) .works-images-item {
    background-image: url("../images/works-img-2.jpg");
}

.works-scale-container:nth-child(4) .works-images-item {
    background-image: url("../images/works-img-3.jpg");
}

.works-images-title {
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2222;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-20px);
}

.works-images-title > h2 {
    font-family: AvantGardeBold, sans-serif;
    font-size: 28px;
    color: white;
}

.works-images-title > p {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    color: white;
}

.works-images-item:hover {
    scale: 1.1;
    filter: grayscale(0%) brightness(0.5);

}

.works-scale-container:hover .works-images-title {
    opacity: 1;
    transform: translateX(0);

}

.about-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    position: relative;
    flex-direction: column;
}

.about-container-wrapper::after {
    content: "";
    width: 2px;
    height: 60px;
    background: var(--pink-filler);
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    position: absolute;
}

.about-title {
    display: flex;
}

.about-title-item {
    display: flex;
    flex-direction: column;
}

.about-title-item:nth-child(1) {
    width: 480px;
    gap: 20px;
    position: relative;
}

.about-title-item:nth-child(1)::after {
    content: "";
    width: 40px;
    height: 2px;
    background: var(--pink-filler);
    left: 0;
    top: -30px;
    position: absolute;
}

.about-title-item:nth-child(2) {
    width: 720px;
    justify-content: center;
}

.about-title-item:nth-child(1) > h2 {
    font-size: 48px;
    color: white;
}

.about-title-item:nth-child(1) > b {
    font-size: 18px;
    color: var(--pink-filler);
    font-family: roboto, sans-serif;
}

.about-title-item:nth-child(2) > p {
    font-family: Roboto Light, sans-serif;
    color: #ACACAC;
    margin-bottom: 50px;
}

.about-container-images {
    display: flex;
    padding-top: 50px;
    gap: 30px;

}

.about-image-block {
    flex-direction: column;
    display: flex;
    height: 599px;
    transition: 0.1s ease;
}
.about-image-block:nth-child(2) {
    gap: 30px;

}

.about-image-block:nth-child(1) {
    width: 769px;
    padding: 30px;
    justify-content: end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/grayscale-1.jpg");
    cursor: pointer;
    filter: grayscale(100%);
    position: relative;
}
.about-image-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 284px;
    justify-content: end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: grayscale(100%) ;
    position: relative;
}
.about-image-item:nth-child(1) {
    background-image: url("../images/grayscale-1.jpg");

}
.about-image-item:nth-child(2) {
    background-image: url("../images/grayscale-2.jpg");
}

.about-image-block:nth-child(1)::before {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}
.about-image-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}
.about-image-item:hover {
    filter: grayscale(0%);
}
.about-image-block:nth-child(1):hover {
    filter: grayscale(0%);
}
.white-text-block > h2 {
    color: white;
    font-size: 20px;
    line-height: 30px;
}
.white-text-block > p {
    color: white;
    font-size: 17px;
    font-family: Roboto Light,sans-serif;

}
.white-text-block {
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 99;
}
.white-text-block {
    filter: none!important;
}
.about-text-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 30px;
    padding-bottom: 140px;
    position: relative;
}
.about-text-containers:after {
    content: "";
    height: 60px;
    width: 2px;
    background: var(--pink-filler);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
.about-text-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    gap: 40px;
    padding-right: 40px;
}
.about-text-items >h2 {
    font-size: 22px;
    color: white;
}
.about-text-items >p {
    font-size: 17px;
    color: #ACACAC;
    font-family: "Roboto Light",sans-serif;
}




